*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

html {
    overscroll-behavior: none;
    overflow: hidden;
    touch-action: none;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, min(100px, 25vw, 15vh));
    grid-template-rows: min(120px, 25vw, 15vh) repeat(5, min(100px, 25vw, 15vh)) min-content;
    padding: 0;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: min(2rem, 5vmin);
    border: min(1px, 0.1vw) solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    padding: 0;
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: span 3;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: min(10px, 2vmin);
    word-wrap: break-word;
    word-break: break-all;
    position: relative;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: min(1.5rem, 4vmin);
}

.output .current-operand {
    color: white;
    font-size: min(2.5rem, 7vmin);
}

.history-button, .download-history, .send-history, .clear-history {
    background-color: rgba(0, 0, 0, .75);
    position: relative;
}

.download-history, .send-history, .clear-history {
    display: none;
}

.history-button img, .download-history img, .send-history img, .clear-history img {
    height: calc(min(120px, 25vw, 15vh) / 2);

    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50%, 50%);
}

.history-button img:hover, .download-history img:hover, .send-history img:hover, .clear-history img:hover {
    filter: opacity(50%);
}

.history {
    grid-column: 1 / -1;
    grid-row: 2 / -2;
    background-color: rgba(0, 0, 0, .75);
    overflow: auto;
    color: white;

    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-direction: column;
    padding: 5%;
    gap: 5%;
    word-wrap: break-word;
    word-break: break-all;

}

.history::-webkit-scrollbar {
    width: min(20px, 2vmin);
}

.history::-webkit-scrollbar-track {
    background-color: transparent;
}

.history::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: min(6px, 0.4vmin) solid transparent;
    background-clip: content-box;
}

.history > div {
    flex: none;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    /*word-wrap: break-word;*/
    /*word-break: break-all;*/
    background-color: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    border-radius: 1vmin;
}

.history span {
    font-size: min(2.5rem, 7vmin);
    text-align: center;
    white-space: nowrap;
    margin: 0 5%;
}

.history .break {
    flex-basis: 100%;
    height: 0;
}

.history .prev {
    color: #00AAFF;
}

.history .curr {
    color: #00FF6C;
}

.history .comp {
    color: #00D5B6;
}

.history .oper, .history .eq {
    color: white;
}

.info {
    grid-row: 7;
    grid-column: 1/-1;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .75);
    padding: 0 10%;
}

 .info span {
    width: min-content;
    white-space: nowrap;
    font-size: min(2vmin, 20px);
    font-weight: bold;
    color: white;
}

.info .github {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: min-content;
}

.info .github img {
    width: min(50px, 5vmin);
}

.info .github span {
    flex: 5 auto;
}

.info a{
    height: 0;
    overflow: hidden;
}

@supports (-webkit-touch-callout: none) {
    .calculator-grid{
        min-height: -webkit-fill-available;
        height: -webkit-fill-available;
    }
}

