*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gotham Rounded, sans-serif;
    font-weight: normal;
}

html {
    overscroll-behavior: none;
    overflow: hidden;
    touch-action: none;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, min(100px, 25vw, 15vh));
    grid-template-rows: min(120px, 25vw, 15vh) repeat(5, min(100px, 25vw, 15vh));
    padding: 0;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: min(2rem, 5vmin);
    border: min(1px, 0.1vw) solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
    padding: 0;
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: min(10px, 2vmin);
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgba(255, 255, 255, .75);
    font-size: min(1.5rem, 4vmin);
}

.output .current-operand {
    color: white;
    font-size: min(2.5rem, 7vmin);
}